.nav{
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}
.left-container{
    display: flex;
    align-items: center;
    margin-left: 30px;
    width : 250px;
    
}
.left-container > img{
    height: 58px;
    object-fit: contain;
   
    border-radius: 10px;
}
.search-box > input{
    display: flex;
    text-align:center;
    border-radius: 10px;
    outline: none;
    border-style: hidden;
    width: 740px;
    background:whitesmoke;
    height: 45px;
    
}
.search-icon{
    margin-left:5px ;
    position: absolute ;
    color: gray;
}
.search-icon:hover{
    color: black;
    cursor: pointer;
}
.tune-icon:hover{
    color: black;
    cursor: pointer;
}
.tune-icon{
    position: absolute;
    left: 980px;
    color: gray;

}
.search-box{
    align-items: center;
    display: flex;
    background-color: white;
    outline: none;
    margin-right: 330px;
    
}

.right-container{
    display: flex;
}
.last-container{
    display: flex;
    align-items: center;
    
}